# Codility

### Factorial

In [3]:
def factorial(n):
    factorial = 1
    for i in range(1, n+1):
        factorial *= i
    return factorial

In [6]:
factorial(3)

6

In [7]:
factorial(4)

24

Print a triangle made of asterisks (‘*’) separated by spaces. The triangle should consist of n rows, where n is a given positive integer, and consecutive rows should contain 1, 2, . . . , n asterisks. For example, for n = 4 the triangle should appear as follows:
<img src="images/triangle.png" />

In [5]:
def triangle(n):
    for i in range(1, n+1):
        print(i * "* ")

In [6]:
triangle(4)

*
* *
* * *
* * * *

In [11]:
def upside(n):
    for i in range(n, 0, -1):
        print(i * "* ")

In [12]:
upside(4)

* * * *
* * *
* *
*

Fibonachi: 0 1 1 2 3 5 8 13 21 34 ....

In [19]:
def fibonachi(n):
    a = 0
    b = 1
    for i in range(n):
        print(a)
        c = a + b
        b = a
        a = c

In [20]:
fibonachi(9)

0
1
1
2
3
5
8
13
21

### Convert Integer to Binary

In [57]:
def integerToBinary(N):
    binary = []
    while N / 2 > 0:
        binary.append(N % 2)
        N = N // 2
    binary.reverse()
    toString = [str(n) for n in binary] # convert integer list to string
    result = "".join(toString) # join the strings into a single word
    return result

In [58]:
integerToBinary(20)

'10100'

In [56]:
N = [1, 0, 1, 1, 0]
s = [str(n) for n in N]
final = "".join(s)
final

'10110'

In [49]:
import pandas as pd